<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.golden.android.eyecare">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".Alert"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/ThemeOverlay.AppCompat.Dialog.Alert">
            <intent-filter>
                <action android:name="killAlert" />
            </intent-filter>
        </activity>
        <service
            android:name=".Checker"
            android:exported="false" />
        <service
            android:name=".Timer"
            android:exported="false" />

        <receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote"></receiver>
        <receiver
            android:name=".ScreenReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT"
                    />

                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Count"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_count"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".Reward"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>